@import "tailwindcss";

/* -------- THEME -------- */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* -------- BASE -------- */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* -------- ANIMATIONS -------- */

/* Normal Fade */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn .6s ease-in-out;
}

.animate-fadeInSlow {
  animation: fadeIn 1s ease-in-out forwards;
}

.animate-fade {
  animation: fadeIn .8s ease-in-out forwards;
}


/* Slide Down */
@keyframes slideDown {
  from { opacity: 0; transform: translateY(-8px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-slideDown {
  animation: slideDown .7s ease-in-out forwards;
}


/* Slide Up */
@keyframes slideUp {
  from { opacity: 0; transform: translateY(40px);}
  to { opacity: 1; transform: translateY(0);}
}

.animate-slide {
  animation: slideUp .9s ease forwards;
}


/* Card Pop */
@keyframes cardPop {
  from { opacity: 0; transform: scale(.95); }
  to { opacity: 1; transform: scale(1); }
}

.animate-cardPop {
  animation: cardPop .7s ease forwards;
}

.animate-card {
  animation: cardPop .7s ease forwards;
}
